@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Fira+Sans:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
}

.parallax {
    position: relative;
    text-align: center;
    color: black;
    min-height: 700px; 

    opacity: 0.3;
    background-image: url("./2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    position: relative;
    text-align: center;
    color: black;
    min-height: 300px; 

    opacity: 0.3;
    background-image: url("./3.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first .display{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    font-family: 'Fira-Sans', sans-serif;
}

.first .display h1{
    color: black;
    text-align: center;
}

.first .display h2{
    color: black;
    font-size: 18px;
    text-align: center;
}

.first .display button{
    padding: 20px;
    border-radius: 5%;
    border: none;
    font-size: 16px;
    color: black;
    background-color: rgb(182, 182, 182);
    font-weight: bolder;
    cursor: pointer;
}

.first .display button:hover{
    transition: 1s;
    background-color: gray;
}

.second{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Fira-Sans', sans-serif;
    padding: 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media  screen and (min-width: 1161px) {
    .thrid{
        display: flex;
        flex-direction: row;
        background-color: rgb(31, 31, 31);
        padding: 48px;
        font-family: 'Fira-Sans', sans-serif;
        text-align: center;
    }

    .thrid #around {
        background-color: rgb(182, 182, 182);
        padding: 40px;
        margin: 20px;
    }

    .thrid #around img {
        max-width: 200px;
        max-height: 200px;
        overflow: hidden;
        padding: 20px;
    }

    .thrid #around h4, .thrid #around p {
        padding: 20px;
    }   
}

@media screen and (max-width: 1160px) {
    .thrid{
        display: flex;
        flex-direction: column;
        background-color: rgb(31, 31, 31);
        padding: 48px;
        font-family: 'Fira-Sans', sans-serif;
        text-align: center;
    }

    .thrid #around {
        background-color: rgb(182, 182, 182);
        padding: 40px;
        margin: 20px;
    }

    .thrid #around img {
        width: 100%;
        max-height: auto;
        overflow: hidden;
        padding: 20px;
        max-width: 200px;
    }

    .thrid #around h4, .thrid #around p {
        padding: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 460px) {
    .thrid{
        display: flex;
        flex-direction: column;
        background-color: rgb(31, 31, 31);
        padding: 48px;
        font-family: 'Fira-Sans', sans-serif;
        text-align: center;
    }

    .thrid #around {
        background-color: rgb(182, 182, 182);
        padding: 40px;
        margin: 20px;
    }

    .thrid #around img {
        width: 100%;
        max-height: auto;
        overflow: hidden;
        padding: 20px;
        max-width: 100px;
    }

    .thrid #around h4, .thrid #around p {
        padding: 20px;
        justify-content: center;
    }
}