.intern {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

body{
    background-image: url("white.png");
}

.one{ 
    background-color: whitesmoke;
    font-family: myFirstFont;
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 10%;
    font-size: 14px;
}

h2{
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}

h3{
    text-align: justify;
    font-weight: lighter;
    font-size: 14px;
}

#box{
    border:none;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0 20px 0;
    min-width: 100%;
}